---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import FriviligCard from "../components/FriviligCard.astro";
import VolunteerSection from "../components/VolunteerSection.astro";
import FaqSection from "../components/FaqSection.astro";
import HeroHeader from "../components/HeroHeader.astro";
import Formular from "../components/Formular.astro";
import BilledGalleri from "../components/BilledGalleri.astro";
import BilledGalleri2 from "../components/BilledGalleri2.astro";
import Modfriviligsection from "../components/Modfriviligsection.astro";
import "../css/global.css";
import Card2 from "../components/Card2.astro";
---

<Layout>
  <HeroHeader backgroundImage="/img/hero-img.webp" title="BLIV FRIVILLIG" />
  <section class="welcome_section"></section>

  <VolunteerSection />

  <Card2 />

  <Modfriviligsection />

  <section class="formular-container">
    <div class="gallery-container"><BilledGalleri /></div>
    <div><Formular /></div>
    <div class="gallery-container"><BilledGalleri2 /></div>
  </section>

  <FaqSection />
  <footer></footer>
</Layout>

<style>
  .formular-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  @media (max-width: 1050px) {
    .gallery-container {
      display: none;
    }
  }
</style>
