<nav class="breadcrumb">
  <a href="#">Forside</a>
  <span>❮</span>
  <a href="#" class="active">Bliv frivillig</a>
</nav>

<style>
  .breadcrumb {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .breadcrumb a {
    text-decoration: none;
    color: #d18b55;
  }

  .breadcrumb .active {
    font-weight: bold;
    color: black;
  }
</style>
