---
const { backgroundImage, title } = Astro.props;
---

<header
  class="hero-header"
  style={`background-image: url('${backgroundImage}')`}
>
  <h1>{title}</h1>
</header>

<style>
  .hero-header {
    min-height: 630px; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    width: 100%;
  }

  .hero-header h1 {
    color: white;
    font-size: 6.5rem;
  }
  @media (max-width: 768px) {
    .hero-header h1 {
      font-size: 3rem;
    }
    .hero-header {
      min-height: 320px; 
      background-position: center center; 
  }
</style>
