<div class="container2">
  <h2>Hvad får jeg ud af at være med i en madklub?</h2>
  <div class="grid">
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />
      <p>
        Et udfordrende frivilligjob, hvor du kan kombinere dine interesser for
        madlavning og socialt arbejde
      </p>
    </div>
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />
      <p>Mulighed for at være med i et fællesskab af motiverede frivillige</p>
    </div>
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />
      <p>Sparring på din indsats i madklubben og udviklingsmuligheder</p>
    </div>
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />
      <p>Kendskab til en spændende målgruppe</p>
    </div>
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />
      <p>Mulighed for at være med i et fællesskab af motiverede frivillige</p>
    </div>
    <div class="item">
      <img src="img/checkbox.svg" class="checkmark" alt="checkmark" />

      <p>Dokumentation for dit frivillige arbejde efter et år</p>
    </div>
  </div>
</div>

<style>
  .container2 {
    text-align: center;
    padding: 5%;
    border-top: solid black 0.2px;
    border-bottom: solid black 0.2px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .item {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  @media (min-width: 900px) {
    .item {
      display: flex;
      align-items: start;
      text-align: left;
      gap: 10px;
    }
  }

  .checkmark {
    width: 40px;
  }
</style>
