<h1>Vær med i en madklub</h1>
<div class="container1">
  <section class="info">
    <h2>Hvad er en social madklub?</h2>
    <p>
      Madklubberne findes på vores herberger og væresteder. Her laver frivillige
      og brugere/beboere i fællesskab lækker og næringsrig mad, der passer til
      små budgetter.
    </p>

    <section>
      <h2>Hvad skal jeg lave i en madklub?</h2>
      <p>
        Som frivillig i WeShelters sociale madklubber laver du mad sammen med et
        hold af frivillige og beboere eller brugere på et af vores herberger
        eller væresteder – efter personalet er gået hjem. Madklubberne er
        selvkørende, og I køber ind til og laver og spiser maden sammen.
        Formålet er ikke kun maden, men det fællesskab, der opstår omkring
        aftenens menu. Derfor inddrages brugere/beboere aktivt i planlægning og
        afholdelse af madklubben, og alle bidrager med det, de nu kan.
      </p>
    </section>
  </section>

  <aside class="side-info">
    <div class="point">
      <img src="img/Globus.svg" class="icon" alt="Hvilket sprog?" />
      <p>Primært dansktalende</p>
    </div>
    <div class="point">
      <img src="img/Ur.svg" class="icon" alt="Hvor lang tid?" />
      <p>Du deltager hver anden uge – en vagt varer cirka 3 timer</p>
    </div>
    <div class="point">
      <img src="img/Tavle.svg" class="icon" alt="HVad skal du kunne?" />
      <p>Du er moden, har en vis portion af livserfaring og mødestabil</p>
    </div>
  </aside>
</div>

<style>
  h1 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
  }
  .container1 {
    display: flex;
    padding: 5%;
  }
  .info {
    max-width: 60%;
    padding-right: 50px;
  }

  .side-info {
    padding-top: 40px;
  }

  .point {
    display: flex;
    align-items: center;
  }
  .icon {
    width: 40px;
    margin-right: 10px;
  }
</style>
